<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="frm-main"> <!-- TAB DE VENTAS -->
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Ventas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="frm-main2"> <!-- TAB DE REGISTRAR EMPLEADO -->
        <ion-icon name="people-circle-outline"></ion-icon>
        <ion-label>Empleados</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="frm-main-3"><!-- TAB DE GRAFICA -->
        <ion-icon name="bar-chart-outline"></ion-icon>
        <ion-label>Reporte</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>