<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Empleados
      </ion-card-title>
      <ion-card-subtitle>
        Registrar nuevos empleados
      </ion-card-subtitle>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <!-- NOMBRE DEL EMPLEADO -->
            <ion-label position="floating">Nombre</ion-label>
            <ion-input clearInput type="text" required [(ngModel)]="empleado.nombre"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <!-- APELLIDO DEL EMPLEADO -->
            <ion-label position="floating">Apellido</ion-label>
            <ion-input clearInput type="text" required [(ngModel)]="empleado.apellido"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <!-- CORREO DEL EMPLEADO -->
            <ion-label position="floating">Correo</ion-label>
            <ion-input clearInput type="email" required  [(ngModel)]="empleado.correo"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <!-- FOTO DEL EMPLEADO -->
            <img [src]="imagenDelEmpleado"/>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col style="text-align: center;">
            Seleccionar foto desde:
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button
              (click)="abrirGaleria()"
              color="primary"
              expand="block"
              shape="round"
            >
              <ion-icon name="image" style="margin-right: 5px;"></ion-icon>
              Galeria
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button
              (click)="abrirCamara()"
              color="primary"
              expand="block"
              shape="round"
            >
              <ion-icon name="camera" style="margin-right: 5px;"></ion-icon>
              Foto
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-card-content>
      <ion-button expand="block" shape="round" (click)="registrarEmpleado()">
        <ion-icon name="save" style="margin-right: 5px;"></ion-icon>
        Guardar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let col of coleccionDos">
        <ion-card
          (mouseenter)="mouseArriba(col)"
          (mouseleave)="mouseAfuera(col)"
        >
          <ion-img [src]="col.foto"></ion-img>
          <ion-card-header style="text-align: center;">
            <ion-card-subtitle color="primary">
              {{col.nombre}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button
            *ngIf="col.oculto"
            expand="block"
            (click)="reproducirSonido(col)"
            color="success"
            fill="clear"
          >
            <ion-icon
              name="musical-notes-outline"
              style="margin-right: 3px;"
            ></ion-icon>
            Reproducir
          </ion-button>
          <ion-button
            *ngIf="col.oculto"
            expand="block"
            [routerLink]="['/card-editor/coleccionDos/'+col.uid]"
            color="warning"
            fill="clear"
          >
            <ion-icon
              name="create-outline"
              style="margin-right: 3px;"
            ></ion-icon>
            Editar
          </ion-button>
          <ion-button
            *ngIf="col.oculto"
            expand="block"
            (click)="borrarRegistro(col)"
            color="danger"
            fill="clear"
          >
            <ion-icon
              name="close-circle-outline"
              style="margin-right: 3px;"
            ></ion-icon>
            Borrar
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <!--FAB DE MENÚ-->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <!--FAB DE LOG-OUT-->
      <ion-fab-button color="danger" (click)="onSalir()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
