<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido {{u.nombre}}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let col of coleccionDos">
        <ion-card color="primary" (mouseenter)="mouseArriba(col)" (mouseleave)="mouseAfuera(col)" >
          <ion-img [src]="col.foto"></ion-img>
          <ion-card-header style="text-align: center;"> 
            <ion-card-subtitle>
              {{col.nombre}}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-button *ngIf="col.oculto" expand="block" (click)="reproducirSonido(col)">
            <ion-icon name="musical-notes-outline" style="margin-right: 3px;"></ion-icon>
            Reproducir
          </ion-button>
          <ion-button *ngIf="col.oculto" expand="block" [routerLink]="['/card-editor/coleccionDos/'+col.uid]">Editar</ion-button>
          <ion-button *ngIf="col.oculto" expand="block" (click)="borrarRegistro(col)">Borrar</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--FAB DE MENÚ-->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed"> 
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">

      <!--FAB DE PERFIL-->
      <ion-fab-button color="success" (click)="abrirPerfil()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-fab-button>

      <!--FAB DE EDITAR ITEM-->
      <ion-fab-button color="warning" [routerLink]="['/card-editor/coleccionDos/Agregar']">
        <ion-icon name="create-outline"></ion-icon>
      </ion-fab-button>

      <!--FAB DE LOG-OUT-->
      <ion-fab-button color="danger" (click)="onSalir()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>