<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Ventas
      </ion-card-title>
      <ion-card-subtitle>
        Asigne el objetivo de los empleados
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          Nombre
        </ion-list-header>
        <ion-select
          placeholder="Seleccionar empleado"
          cancelText="Cancelar"
          interface="action-sheet"
        >
          <!-- AQUI SE LLENA DE FORMA DINAMICA POR TODOS LOS EMPLEADOS -->
          <ion-select-option *ngFor="let empleado of listaDeEmpleados">
            {{empleado.nombre}}
          </ion-select-option>
        </ion-select>

        <!-- FOTO DEL USUARIO -->
        <ion-list-header>Fotografía</ion-list-header>
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/f/f8/Google_Camera_Icon.svg"
          alt="Foto del usuario"
        /><!-- *ngIf="fotoDelEmpleado" [src]="FotoDelEmpleado" una vez que toma la foto-->

        <ion-list-header>
          Objetivo de venta
        </ion-list-header>
        <ion-item>
          <ion-label position="floating">$</ion-label>
          <!-- DONDE EL USUARIO INTRODUCE CANTIDAD DE VENTA ESPERADA -->
          <ion-input clearInput type="number"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button
        expand="block"
        shape="round"
        (click)="actualizarObjetivoFoto()"
      >
        <ion-icon name="save" style="margin-right: 5px;"></ion-icon>
        Guardar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!--FAB DE MENÚ-->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon md="caret-back" ios="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <!--FAB DE LOG-OUT-->
      <ion-fab-button color="danger" (click)="onSalir()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
