<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://vignette.wikia.nocookie.net/snk/images/5/59/Metal_Slug_logo.png/revision/latest?cb=20160411053210&path-prefix=es"
    />

    <ion-card-header>
      <ion-card-title>Registrar nueva cuenta</ion-card-title>
      <ion-card-subtitle
        >Acceda a la mini-wiki creando su cuenta</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label> </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="user.correo"
          placeholder="Correo"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label> </ion-label>
        <ion-input
          type="password"
          [(ngModel)]="user.password"
          placeholder="Contraseña"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="onRegistrar()"
        >Registrarse</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
