<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img
      src="https://vignette.wikia.nocookie.net/snk/images/5/59/Metal_Slug_logo.png/revision/latest?cb=20160411053210&path-prefix=es"
    />

    <ion-card-header>
      <ion-card-title>Metal Slug mini-wiki</ion-card-title>
      <ion-card-subtitle>Registrarse</ion-card-subtitle>
    </ion-card-header>
    <ion-item>
      <ion-label>
        Correo
      </ion-label>
      <ion-input type="text" [(ngModel)]="user.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>
        Password
      </ion-label>
      <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="onRegistrar()">Registrarse</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" routerLink="/home">Volver</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
