<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs-page/frm-main"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}} carta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{fotoLink}}" alt="">
    <ion-card-header>
      <ion-card-subtitle>Personalice su carta</ion-card-subtitle>
      <ion-card-title>Ingrese los parámetros</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Nombre</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input [ngModel]="nombreCarta"></ion-input>
        </ion-item>

        <ion-list-header>
          <ion-label>Categoría</ion-label>
        </ion-list-header>

        <ion-radio-group value="personajes">
          <ion-item>
            <ion-label>Personajes</ion-label>
            <ion-radio slot="end" value="personajes"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Escenarios</ion-label>
            <ion-radio slot="end" value="escenarios"></ion-radio>
          </ion-item>
        </ion-radio-group>

        <ion-list-header>Imágen</ion-list-header>
        <ion-item>
          <ion-input type="file"></ion-input>
        </ion-item>

        <ion-list-header>Sonido</ion-list-header>
        <ion-item>
          <ion-input type="file"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
