<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref="tabs-page/frm-main"></ion-back-button>
    </ion-buttons>
    <ion-title>{{titulo}} carta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="{{fotoLink}}" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Personalice su carta</ion-card-subtitle>
      <ion-card-title>Ingrese los parámetros</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Nombre</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-input [(ngModel)]="nombreCarta"></ion-input>
        </ion-item>

        <ion-list-header>Imágen</ion-list-header>
        <ion-item>
          <ion-input (change)="cargarFoto($event)" type="file" accept="image/*"></ion-input>
        </ion-item>

        <ion-list-header>Sonido</ion-list-header>
        <ion-item>
          <ion-input (change)="cargarAudio($event)" type="file" accept="audio/*"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button (click)="wardiola()">Guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
