<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AppSesion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider>
    <ion-label>
      Bienvenido
    </ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>
      Correo
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.correo"> </ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      Password
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"> </ion-input>
  </ion-item>

  <ion-button (click) = "onIniciar()">Entrar</ion-button>
  <ion-button routerLink="../frm-registro">Registrarse</ion-button>

</ion-content>
