<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="https://vignette.wikia.nocookie.net/snk/images/5/59/Metal_Slug_logo.png/revision/latest?cb=20160411053210&path-prefix=es" />

    <ion-card-header>
      <ion-card-title>Metal Slug mini-wiki</ion-card-title>
      <ion-card-subtitle>Inicie sesión para continuar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label> </ion-label>
        <ion-input type="text" [(ngModel)]="user.correo" placeholder="Correo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-icon name="finger-print-outline"></ion-icon>
        <ion-label> </ion-label>
        <ion-input type="password" [(ngModel)]="user.password" placeholder="Contraseña"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="onIniciar()">Iniciar sesión</ion-button>
      <ion-item lines="none">
        ¿No tiene cuenta?
        <ion-button expand="block" fill="clear" size="medium" routerLink="../frm-registro">
          Registrarse
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
